<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>ic_running</string>
		<key>title</key>
		<string>Движение – это жизнь!</string>
		<key>text</key>
		<string>Адекватные физические нагрузки необходимы даже пациентам с заболеваниями сердца. Как же определить – какие нагрузки необходимы вам? Все очень просто: нагрузка не должна вызывать одышку и учащение пульса большее, чем на 30 ударов в минуту. Лучшим видом нагрузки является ходьба. Ходите и будьте здоровы!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_breathlessness</string>
		<key>title</key>
		<string>Одышка – грозный признак заболеваний сердца или легких.</string>
		<key>text</key>
		<string>Как различить одышку и нормальное учащённое дыхание? Естественное учащение дыхания возникает при выраженной физической нагрузке, например, во время бега. Одышкой считается убыстрение и углубление дыхания при нормальных и легких физических нагрузках, например, при ходьбе и, тем более, в покое. Важным признаком одышки является ощущение нехватки воздуха.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_heart</string>
		<key>title</key>
		<string>Инфаркт не всегда сопровождается болью.</string>
		<key>text</key>
		<string>Пациенты часто пропускают инфаркт и переносят его «на ногах», принимая за приступ стенокардии. Следите за пульсом – замедление частоты сокращений до уровня ниже 60 ударов в минуту на фоне стенокардии, или даже без боли, может быть симптомом инфаркта миокарда и требует немедленного обращения к врачу.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_thrombosis</string>
		<key>title</key>
		<string>Тромбоз и тромбоэмболия опасные, и, порой, фатальные осложнения заболеваний сердца и сосудов.</string>
		<key>text</key>
		<string>Важным фактором профилактики является употребление от полутора до двух литров жидкости в день. Простыми словами – это ведет к «разбавлению» и «разжижению» крови.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_edemas</string>
		<key>title</key>
		<string>Отеки – это не только некрасиво, но и очень вредно.</string>
		<key>text</key>
		<string>Уменьшить выраженность или избавиться от отеков можно, ограничив потребление пищевой соли до 1-3 граммов в день. Конечно, очень сложно сразу отказаться от соли, попробуйте постепенно снижать ее количество.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_pressure</string>
		<key>title</key>
		<string>Нормальным артериальным давлением считается уровень до 130/85</string>
		<key>text</key>
		<string>Показатель от 130/85 до б140/90 и выше считается артериальной гипертонией. Если это про вас – пройдите обследование у кардиолога, повышенное артериальное давление опасно!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_statistics</string>
		<key>title</key>
		<string>Доказано, что даже при 50%% поражении миокарда пациент может выжить и полностью восстановиться.</string>
		<key>text</key>
		<string>Ключевым фактором является своевременное обращение к врачу. Следите за своим здоровьем и никогда не теряйте надежды на восстановление, даже если инфаркт, все-таки, произошел.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_wc</string>
		<key>title</key>
		<string>Мочегонные средства показаны при хронической сердечной недостаточности.</string>
		<key>text</key>
		<string>Они снимая отек, уменьшают объем циркулирующей крови, снижая нагрузку на сердце. Однако, принимать их следует исключительно по назначению врача.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_stress</string>
		<key>title</key>
		<string>Постоянный стресс и длительная депрессия являются факторами риска инфаркта.</string>
		<key>text</key>
		<string>Старайтесь оптимистичнее смотреть на жизнь, проводить больше времени в кругу семьи и на свежем воздухе, регулярно брать отпуск, путешествовать. Помните, жизнь – одна, и вы сами решаете, как ее провести!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_smile</string>
		<key>title</key>
		<string>Смейтесь!</string>
		<key>text</key>
		<string>Смех стимулирует дыхание и улучшает кровоснабжение за счет расширения сосудов, что положительно сказывается на работе сердца. Не говоря уже о том, что смех поднимает настроение и делает нас счастливее.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_wine</string>
		<key>title</key>
		<string>Хорошая новость для любителей красного вина!</string>
		<key>text</key>
		<string>Бокал этого прекрасного напитка в день улучшает работу сердца, очищает кровеносные сосуды и снижает уровень холестерина в организме. Старайтесь не увлекаться: один бокал вина, не более!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_monday</string>
		<key>title</key>
		<string>Самое частое время сердечных приступов – утро понедельника, когда высок уровень «гормонов стресса».</string>
		<key>text</key>
		<string>Начиная трудовую неделю, помните об этом и старайтесь не подвергать себя сильному стрессу, что бы ни происходило!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_size</string>
		<key>title</key>
		<string>Люди с окружностью бедер меньше 60см имеют большой риск развития заболеваний коронарных сосудов сердца.</string>
		<key>text</key>
		<string>сли вы – обладатель(ница) узких бедер, не расстраивайтесь! Здоровый и активный образ жизни, регулярное посещение врача поможет «исправить» эту коварную статистику.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_heels</string>
		<key>title</key>
		<string>Если у вас есть лишний вес, оптимальная высота каблуков должна быть не более 3-4 см.</string>
		<key>text</key>
		<string>Перенос центра тяж ести вперед при ношении высоких каблуков ведет к перенапряжению мышц спины и шеи, нарушению нормального кровообращения, перебоям работы сердца, повышению артериального давления.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_sex</string>
		<key>title</key>
		<string>Активная половая жизнь снижает риск возникновения сердечно-сосудистых заболеваний.</string>
		<key>text</key>
		<string>Так что, чаще занимайтесь сексом, это не только приятно, но и полезно!</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_sleep</string>
		<key>title</key>
		<string>Недосыпание ведет к перенапряжению нервной системы и увеличивает нагрузку на сердце?</string>
		<key>text</key>
		<string>Поэтому, вместо ночных «посиделок» в интернете гораздо полезнее будет поспать лишние пару часов.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_double</string>
		<key>title</key>
		<string>Избавление всего лишь от 10%% лишнего веса снижает риск развития сердечно-сосудистых заболеваний на 20%.</string>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_age</string>
		<key>title</key>
		<string>Одним из немногих факторов риска инфаркта и инсульта, который нельзя устранить, является возраст.</string>
		<key>text</key>
		<string>Кстати, этот фактор считается не самым важным, врачи утверждают, что здоровье сердца и сосудов зависит от самого пациента.</string>
	</dict>
</array>
</plist>
