UserInterfaceState.xcuserstate
WorkspaceSettings.xcsettings
takeda-ios/takeda.xcodeproj/xcuserdata/adminadmin.xcuserdatad/xcschemes/xcschememanagement.plist
takeda-ios/takeda.xcodeproj/xcuserdata/adminadmin.xcuserdatad/xcschemes/takeda.xcscheme
takeda.xccheckout
Breakpoints_v2.xcbkptlist
